{% extends "classroom/base.html" %}
{% load static %}
{% block content %}
<h1>Teacher detail: using DetailView</h1>
<!-- Conatiner -->
<div class="container-fluid">
    <br>
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">{{teacher.f_name}} {{teacher.l_name}}</div>
                Teaches {{teacher.sub_name}}
            </div>
            <span class="badge bg-primary rounded-pill"><a style="color: white;"
                    href="/classroom/update_teacher/{{teacher.id}}">update</a></span>
            &nbsp;&nbsp;
            <span class="badge bg-danger rounded-pill"><a style="color: white;"
                    href="/classroom/delete_teacher/{{teacher.id}}">delete</a></span>
        </li>
    </ul>
</div>


{% endblock %}